* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;  
  display: flex;

  #sidebar {
    width: 300px;
    height: 100%;
    background-color: #ccc;

    ul {
    	margin: 5px;

    	li {
    		padding: 4px;
    		border-bottom: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: flex-start;

    		&:hover {
    			border-bottom: 1px dotted red;
          color: red;
        }

        .remove-button {
          width: 20px;
          &:hover {
      			cursor: pointer;
          }
        }

        .visit-status {
          width: 10px;
          height: 10px;
          margin: 5px;
          border-radius: 20px;
          background-color: red;

          &.visited {
            background-color: green;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .show-place {
          width: 40px;
          &:hover {
            cursor: pointer;
          }
        }
    	}
    }
  }

  #main-content {
    width: calc(100% - 300px);
    height: 100%;
    background-color: #ddd;

    .map-panel {
    	height: 100%;
    }
  }
}